*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.nav {
    width: 100%;
}

.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding: 1em 0;
}

.nav_brand {
    width: 80px;
    height: 60px;
}

.home {
    height: 89vh;
    width: 100%;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #00009a;
}
